/EAD_Budi/Day3/JavaApplication7/nbproject/private/
/EAD_Budi/Day3/JavaApplication7/build/
/EAD_Budi/Day4/BelajarOOP/nbproject/private/
/EAD_Budi/Day4/BelajarOOP/build/
/EAD_Budi/Day4/BelajarOOP/dist/
/BIGDATA_HANIF/latihan-5/build/